body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: #f6f6f6;
    overflow: hidden;

}
.inner-content{
    overflow: visible;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
header{
    background-color: #ffffff;
    position: sticky;
    top:0;
    z-index: 1;
    width:100%;
    display: flex;
    justify-content: center;
}
.header-content{
    width: 81%;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    font-family: "comfortaa";
    font-size: 19px;
    align-items: center;
    height: 110px;
}
.rightpart{
 
    flex-basis: 60%;
    display: flex;
    align-items: center;
    width: 90px;

}
.logo{
    color:#6443FF ;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "montserrat";
    font-weight:700;
    text-transform: uppercase;
}
.logoset{
    font-size: 18px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.line{
    width: 100px ;
    border: #6443FF 1px solid;
}
.menu{
    display: flex;
    margin-left: 6%;
    margin-top: 15px;
    width: 350px;
    justify-content: space-between;
    align-items: center;
}
.line1{

    margin:  0 10px;
    border-left: #b2b2b2 1.5px solid;
    height: 25px;
    text-align: center;

}
.menu a{
    text-decoration: none;
    color: #b2b2b2; 
    padding: 6%;
    text-transform: capitalize;
}
.SignButton{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    flex-basis: 17%;
    text-transform: capitalize;
}

.SignButton a{
    text-decoration: none;
    color: black;
}
.menu a:hover{
    color: #545454;
}
.active{
    color: #545454;

}
.btn{
    border:rgba(178, 178, 178, .46) 2px solid;
    padding:12px 32px;
    border-radius: 14px;
}
.btn:hover{
    border:rgba(100, 67, 255, .36) 2px solid;
    padding:12px 32px;
    border-radius: 10px;
}
.btn:focus{
    border:rgba(100, 67, 255, .28) 2px solid;
    background-color: rgba(100, 67, 255, .36);
    color: #ffffff;
}
.services{
    display: flex;

}
.p{
    padding-right: 10px;
}
.j{
    padding-left: 10px;
}
.centerdiv{
    height: 42.4vh;
    width: 75%;
    font-family: 'comfortaa';
    margin-top: 50px;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: rgba(100, 67, 255, .79);
    height: 500px;
    width: 100%;
}
.footer-content{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    width: 80%;
}

.col
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis:75%;
}
.col-1
{
    display: flex;
    flex-direction: column;
    font-family: 'roboto';
    color: #ffffff;
}
.col-1 a{
    color: #ffffff;
    text-decoration: none;
}
.minicol{
    color: #ffffff;
    font-family: 'roboto';
    font-weight: 300;
    display: flex;
    align-items:flex-start;
    flex-basis: 25%;
    flex-direction: column;
}

.content{
    text-transform: capitalize;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-weight: 300;

}
.minicol a{
    color: #ffffff;
    text-transform: capitalize;
    text-decoration: none;
}
.foot{
    margin-left: 19px;
    font-size: 19px;
    color: #ffffff;
    border-color: #ffffff;
}
.text{
    width:70%;
    font-family: 'roboto';
    font-weight: 300;
    color: #ffffff;

}
.h{
    text-transform: capitalize;
}
.cprght{
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ffffff;
    width: 70%;
    color: #ffffff;
    font-family: 'roboto';
    font-weight: 200;
    font-size: 12px;
}
.cp{
    margin-top: 30px;
}
.inp{
    width: 200px;
    padding: 12px 6px;
    border: 1px solid rgba(100, 67, 255, .79);
    border-radius: 3px;
}
.inp::placeholder{
    color: #9A9EA5;
    font-family: 'roboto';
    font-weight: 300;
}
.b{
    width: 212px;
    color: #ffffff;
    padding: 10px 5px;
    background: transparent ;
    border: 1px solid #ffffff;
    border-radius: 3px;
}
.tu{
    margin: 7px 0;
}
.m2{
    flex-basis: 35%;
}